.cabecalho {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
}

.cabecalho__titulo {
    font-family: var(--font-titulo);
    font-variant: small-caps;
    padding-top: 3rem;
}

.cabecalho__titulo__paragrafo {
    padding-bottom: 3rem;
}

.cabecalho__titulo__paragrafo__link {
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
}

.cabecalho__titulo__paragrafo__link:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .cabecalho__titulo {
        font-size: 3rem;
    }
}